<ul class="submenu">
    <li>
        <a href="#"
            ><span>Post Header</span> <img src="/public/svg/arrow-right.svg" alt="right arrow icon"
        /></a>
    </li>
    <li>
        <a href="#"
            ><span>Post Layout</span> <img src="/public/svg/arrow-right.svg" alt="right arrow icon"
        /></a>
    </li>
    <li>
        <a href="#"
            ><span>Share Buttons</span>
            <img src="/public/svg/arrow-right.svg" alt="right arrow icon"
        /></a>
    </li>
    <li>
        <a href="#"
            ><span>Gallery Post</span>
            <img src="/public/svg/arrow-right.svg" alt="right arrow icon"
        /></a>
    </li>
    <li>
        <a href="#"
            ><span>Video Post</span> <img src="/public/svg/arrow-right.svg" alt="right arrow icon"
        /></a>
    </li>
</ul>
